/* 
    Document   : charging_by_time
    Created on : Nov 1, 2013, 10:11:51 AM
    Author     : Hoang Manh Tien
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.another_inline {
    margin-bottom: 25px !IMPORTANT;
}
.form-inline {
    padding-bottom: 2px;
}

.fix-width{
    max-width:150px !IMPORTANT;
}


