/* 
    Document   : shortcode
    Created on : Dec 20, 2013, 5:26:06 PM
    Author     : Hoang Manh Tien
    Description:
        Purpose of the stylesheet follows.
*/

.mybox{
    padding-bottom: 10px;
}

